@mixin primary-button {
    font-size: 3rem;
    text-transform: uppercase;
    font-style: italic;
    background: none;
    position: fixed;
    border: none;
    margin: 5px;
    border-radius: 10px;
    color: rgb(111, 233, 30);
}

@mixin secondary-button {
    background: none;
    text-transform: uppercase;
    padding: 0px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-size: 2rem;
    color: #ffffff;
}

@mixin main-headings {
    font-family: "Kaisei Tokumin", serif;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 5rem;  
    color: rgb(222, 223, 226);
}

@mixin second-headings {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    text-transform: uppercase;
}

@mixin input-fields {
    padding: 5px 10px 5px 10px;
    border: none;
    margin: 5px;
    border-radius: 10px;
}

@mixin page-position {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    
}