@mixin primary-button {
    background-color: 	#7bb5bb;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
    border: none;
    margin: 5px;
    border-radius: 15px;
    color: black;
}

@mixin secondary-button {
    background: none;
    text-transform: uppercase;
    padding: 0px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-size: 2rem;
    color: #ffffff;
}

@mixin main-headings {
    font-family: "Kaisei Tokumin", serif;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 5rem;  
    color: rgb(242, 239, 234);
}

@mixin second-headings {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    text-transform: uppercase;
}

@mixin input-fields {
    padding: 5px 10px 5px 10px;
    border: none;
    margin: 5px;
    border-radius: 10px;
}