@import 'partials/mixins.scss';


body {

    header {
        
        position: fixed;
        margin: 100px;
        nav {
            flex-direction: row;
            button {
                @include secondary-button;
            }
          }
    }

    h1 {
        @include main-headings;
    }

    footer {
        width: 100%;
        background-color: #1a2cb3; 
        color: #fff;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}


.homePageContainer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/assets/photography/green-bananas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    height: 100vh;
}

